:root {
  --blue: rgb(5, 70, 219);
  font-size: 62.5%;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-gap: 5rem;
}
h2 {
  font-size: 4rem;
  font-family: "Grand Hotel", cursive;
  color: rgb(68, 70, 182);
}
.input_string {
  width: 25rem;
  height: 3rem;
  border: 0.1rem solid black;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  outline: 0;
}
.check_string {
  color: #fff;
  width: 10rem;
  height: 4rem;
  background-color: rgb(47, 102, 230);
  border-radius: 0.8rem;
  font-size: 1.5rem;
}
.check_string:hover {
  background-color: var(--blue);
}
.answer_container {
  color: var(--blue);
  font-size: 2rem;
}
